@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="crapShop">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="adminRootCtrl">
    <top-bar></top-bar>
    <div id="main">
        <side-bar></side-bar>
        <div class="page {{ pageClass }}" ng-view></div>
    </div>
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app/common")
</body>
</html>